<section>
  <h2 class="text-xl font-bold mb-2 transition ease-in">Contact me</h2>
  <ul class="list-none leading-loose">
    <li class="text-pink dark:text-white transition ease-in">
      <a
        href="mailto:chymeng24@gmail.com?Subject=Saying%20hello"
        target="_blank">Email</a
      >
    </li>
    <li class="text-pink dark:text-white transition ease-in">
      <a href="https://github.com/chy-m" target="_blank">Github</a>
    </li>
    <li class="text-pink dark:text-white transition ease-in">
      <a href="https://www.linkedin.com/in/chy-meng-6323b8a7" target="_blank"
        >Linked In</a
      >
    </li>
  </ul>
</section>
