---
import Heart from "../components/Heart.astro";
---

<footer class="sticky top-[100vh]">
  <div class="flex flex-wrap">
    <p class="text-gray-600/70 dark:text-slate-100">© 2024 Made with</p>
    <Heart />
    <p class="text-gray-600/70 dark:text-slate-100">
      by Chy Meng. All rights reserved.
    </p>
  </div>
</footer>
